"Welcome, <%=@user.name%>!"

<a href="/sessions/logout">Log Out</a>


<form method="post" action="/users/home">
<p> <input type="text" name="name"></p>
<p> <input type="text" name="email"></p>
<p> <input type="text" name="password"></p>
<p> <input type="submit"></p>
</form>

