<h1>Sign Up Below:</h1>
<form  method='post' action='/registrations'>
  <p>Name: <input type="text" name="name"></p>
  <p>Email: <input type="text" email="email"></p>
  <p>Password: <input type="text" password="password"></p>
  <input type="submit">
  
  
  
  
</form>

